h1 {
    color: rgba(0, 0, 0, 0.768);
    width: 600px;
    font-size: 90px;
    text-align: center;
  }
html, main {
  margin: 0;
  padding: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6c7;
}
  body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;

  }
  .button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 24px;
    border: none;
    background-color:white;
    cursor: pointer;
    border-radius: 5px;
  }
  